<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="forms" method="post">
      <input type="text" name="username" placeholder="username" />
      <input type="email" name="email" placeholder="example@gmail.com" />
      <div>
        <label for="sex">Sex:</label>
        <div>
          <label for="male">Male</label>
          <input type="radio" name="sex" value="male" checked />
        </div>
        <div>
          <label for="female">Female</label>
          <input type="radio" name="sex" value="female" />
        </div>
      </div>
      <div>
        <label for="role">Roles:</label>
        <select name="role" id="role">
          <option selected value="student">Student</option>
          <option value="teacher">Teacher</option>
          <option value="staff">Staff</option>
        </select>
      </div>
      <div>
        <label for="skills">Skills</label>
        <br />
        <div>
          <label for="html">HTML5</label>
          <input type="checkbox" name="skills" value="html5" />
        </div>
        <div>
          <label for="css">css3</label>
          <input type="checkbox" name="skills" value="css3" />
        </div>
        <div>
          <label for="js/ts">js/ts</label>
          <input type="checkbox" name="skills" value="js/ts" />
        </div>
      </div>
      <button type="submit">Save</button>
      <button type="reset">Reset</button>
    </form>
  </body>
</html>
